[submodule "ColorMatch/Assets/ArtisanDream.Experimental"]
	path = ColorMatch/Assets/ArtisanDream.Experimental
	url = https://github.com/anthonyromrell/ArtisanDream.Experimental.git
[submodule "ColorMatch/Assets/ArtisanDream.Legacy"]
	path = ColorMatch/Assets/ArtisanDream.Legacy
	url = https://github.com/anthonyromrell/ArtisanDream.Legacy.git
[submodule "ColorMatch/Assets/ArtisanDream.Tools"]
	path = ColorMatch/Assets/ArtisanDream.Tools
	url = https://github.com/anthonyromrell/ArtisanDream.Tools.git
[submodule "ColorMatch/Assets/NavMeshComponents"]
	path = ColorMatch/Assets/NavMeshComponents
	url = https://github.com/anthonyromrell/NavMeshComponents.git
[submodule "ColorMatch/Assets/DangFunCode"]
	path = ColorMatch/Assets/DangFunCode
	url = https://github.com/anthonyromrell/DangFunCode.git
[submodule "dotColor/Assets/Tools"]
	path = dotColor/Assets/Tools
	url = https://github.com/anthonyromrell/ArtisanDream.Tools.git
[submodule "dotColor/Assets/Foundation"]
	path = dotColor/Assets/Foundation
	url = https://github.com/anthonyromrell/UnityScriptingFoundation.git
[submodule "dotColor/Assets/NavMeshComponents"]
	path = dotColor/Assets/NavMeshComponents
	url = https://github.com/anthonyromrell/NavMeshComponents.git
